body {
    background-image: url("espaço.gif");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x : hidden;
    overflow-y: hidden;
    background-color: #fff;
}

#medidorPlanetaq {
    border: 2px solid #000;
    width: 300px;
    height: 20px;
    background-color: #fff; 
}

#barraPlaneta {
    width: 300px;
    height: 20px;
    background-color: #66f;
}

.navJog {
    width: 40px;
    height: 40px;
    background-image: url("nave.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.bomba {
    width: 40px;
    height: 50px;
    background-image: url("bomba.png");
    background-size: cover;
    position: absolute;
}

.tiroJog {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
}

.explosaoChao {
    width: 55px;
    height: 57px;
    position: absolute;
}

.explosaoAr {
    width: 70px;
    height: 70px;
    position: absolute;
}

.telaMsg {
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50px;
    width: 720px;
    height: 621px;
    display: none;
}